<html>
  <head>
    <title>The Oregon Trail</title>
    <link rel ="icon" href ="/images/horse.jpeg">
 </head>
    <body>

      <h1> Oregon Trail </h1>

      <link href="/css/index.css" rel="stylesheet">
      <link href="/css/global.css" rel = "stylesheet">
      <link rel ="icon" href ="/images/horse.jpeg">

      <div id = "faded"> <h2>Press the spacebar to continue</h2> </div>

      <script src = "/js/index.js"></script>
      <script src = "/js/global.js"></script>

    </body>
  </html>
