<html>
  <head>
    <title> Main Menu </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>

  <body>

    <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>
<div id = "loadGameContainer">

<div class = "container">
  <h1> Main Menu </h1>
    <h2> 1. Travel the trail <h2>
      <h2> 2. Learn about the trail <h2>
        <h2> 3. See the Oregon top 10 <h2>
          <h2> 4. Turn Sound (Off/On) <h2>

  <h2> Select an option <h2>

      <audio id = "/music/OldeTimey.mp3"></audio>

      <link href="/css/mainmenu.css" rel="stylesheet">
      <link href ="/css/global.css" rel="stylesheet">

      <script src = "/js/mainmenu.js"></script>
      <script src = "/js/global.js"></script>
    

    </body>

</html>
