<html>
  <head>
    <title> Setup </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>

  <body>
    <link href="/css/setup.css" rel="stylesheet">
    <link href ="/css/global.css" rel="stylesheet">
    <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>

    <h1> 1. Be a banker from Boston <h1>
      <h1> 2. Be a carpenter from Ohio <h1>
        <h1> 3. Be a farmer from Illinois <h1>
          <h1> 4. Find out the differences between the choices <h1>

              <h1><br> What is your choice? <h1>
                  <h2><a href= "/mainmenu"> Press the space for the main menu. <h2>

    <script src = "/js/global.js"></script>
    <script src = /js/setup.js></script>
    
  </body>
</html>
