<html>
  <head>
    <title> Setup </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>

  <body>
    <link href="/css/setup.css" rel="stylesheet">
    <link href ="/css/global.css" rel="stylesheet">
    <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>


<div id = "container">
<div id = "gameContainer">

  <h2><a href= "/mainmenu"> Press the space for the main menu. <h2>
<h2><a href = "/trail"> Press enter to go to trail. <h2>
    <script src = "/js/global.js"></script>
    <script src = /js/setup.js></script>

  </body>
</html>
