<html>

  <head>
    <title> Main Menu </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>
    <body>

      <link href="/css/topten.css" rel="stylesheet">
      <link href ="/css/global.css" rel="stylesheet">

      <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>

      <h1> Top Ten Score </h1>

      <table id="table" border="1" align="center">>

        <tr>
	         <th> </th>
	          <th> Name </th>
	           <th> Score </th>
	            <th> Date </th>
        <tr>
	         <td>1</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	          <td>2</td>
	           <td> </td>
	            <td> </td>
	             <td> </td>
        </tr>

        <tr>
	         <td>3</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>4</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>5</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>6</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>7</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>8</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>9</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

        <tr>
	         <td>10</td>
	          <td> </td>
	           <td> </td>
	            <td> </td>
        </tr>

      </table>


      <h1><a href ="/mainmenu"> Press the space for the main menu <h1>

        <script src = "/js/global.js"></script>
        <script src = "/js/topten.js"></script>

  </body>

</html>
