<html>
  <head>
    <title> The Trail </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>
  <body>

    <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>
    <link rel = "stylesheet" href = "/css/global.css">
    <link rel = "stylesheet" href = "/css/trail.css">
    <img src = "/images/trail.jpg" alt = "The trail" class = center>

  <div id = "Stats">

    <h6> 1. Days on Trail: </h6>
      <h6> 2. Miles Traveled: </h6>
        <h6> 3. Party health status: </h6>
          <h6> 4. Current Weather </h6>
            <h6> 5. Current Pace: </h6>
              <h6> 6. Current Terrain: </h6>
                <h6> 7. # of Party Members: </h6>

    </div>

    <h5><br>Press ENTER to travel a day or SPACEBAR to change pace! </h5>

    <script src = "/js/global.js"></script>
    <script src = "/js/trail.js"></script>

  </body>
</html>
