<html>
  <head>
    <title> The Trail </title>
    <link rel ="icon" href ="/images/horse.jpeg">
  </head>
  <body>

    <img src = "/images/titleImage.jpeg" alt = "Title Image" class = center>
    <link rel = "stylesheet" href = "/css/global.css">
    <link rel = "stylesheet" href = "/css/trail.css">
    <img src = "/images/trail.jpg" alt = "The trail" class = center>
    <img src = "/images/wagon.jpg" alt = "The wagon" align = "right">



<p>Days on Trail: <span id="days"></span></p>
<p>Miles Traveled: <span id="miles"></span></p>
<p>Group Health: <span id="health"></span></p>
<p>Group Status: <span id="groupStatus"></span></p>
<p>Current Weather: <span id="weather"></span></p>
<p>Pace: <span id="pace"></span></p>
<p>Terrain: <span id="terrain"></span></p>
<p>Current Members: <span id="currentPlayers"></span></p>




    <h5><br>Press ENTER to travel a day or P to change pace! </h5>

    <script src = "/js/global.js"></script>
    <script src = "/js/trail.js"></script>


  </body>
</html>
