h1 {
  color: cornsilk;
  text-align: center;
  font-family: papyrus;
}
h2 {
  color: white;
  text-align: center;
  font-family: papyrus;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


}
